/* Custom CSS */

/* Site colors *********************************************************************************
BHN Blue #191A7E, BHN Yellow #FFB300, Dark Grey #2E2E2E, Light Grey #CECDCB, SBM Blue #084898    
************************************************************************************************/ 

@font-face {
	font-family: 'ITCFranklinGothic';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/itcfranklingothicstd-book-webfont.eot");
	src: url("../fonts/itcfranklingothicstd-book-webfont.eot?	#iefix") format("embedded-opentype"), url("../fonts/itcfranklingothicstd-book-webfont.ttf") format("truetype"), url("../fonts/itcfranklingothicstd-book-webfont.svg#ITCFranklinGothicStdDemi") format("svg")
}
@font-face {
	font-family: 'ITCFranklinGothic';
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/itcfranklingothicstd-demi-webfont.eot");
	src: url("../fonts/itcfranklingothicstd-demi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/itcfranklingothicstd-demi-webfont.ttf") format("truetype"), url("../fonts/itcfranklingothicstd-demi-webfont.svg#ITCFranklinGothicStdDemi") format("svg")
}
@font-face {
	font-family: 'ITCFranklinGothicDemi';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/itcfranklingothicstd-demi-webfont.eot");
	src: url("../fonts/itcfranklingothicstd-demi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/itcfranklingothicstd-demi-webfont.ttf") format("truetype"), url("../fonts/itcfranklingothicstd-demi-webfont.svg#ITCFranklinGothicStdDemi") format("svg")
}

/****************************
*****  Nav Drop Down ********
*****************************/

.top-bar-section li:not(.has-form) a.open {
	background-color: #ffffff;
	color: #191A7E;
}
#drop1 .button.postfix,
#drop2 .button.postfix {
	font-weight: bold;
	font-size: 18px;
	left: -3px;
	top: 6px;
	line-height: 17px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#drop1 a,
#drop2 a {
	vertical-align: middle;
}
#drop1 p,
#drop2 p {
	font-size: 13px;
	line-height: 16px;
	color: #2E2E2E;
}
#drop1 p a,
#drop2 p a {
	text-decoration: underline;
	color: #191A7E;
	padding: 0;
	line-height: 16px;
	background: none;
}
.f-dropdown.content.open {
	left: 700px !important;
	top: 43px !important;
	border-radius: 5px 0 5px 5px;
	border: none;
}
.f-dropdown:before,
.f-dropdown:after {
	border: none;
}


/****************************
*********   Footer   ********
*****************************/

footer {
	font: 12px Arial, Helvetica, sans-serif;
	color: #2e2e2e;
	background-color: #191A7E;
	padding: 40px 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 1600px;
}
footer p {
	font-size: 10px;
	margin: 0;
	color: #ffffff;
}
footer a,
footer a:link,
footer a:visited {
	color: #FFB300;
}
footer a:hover,
footer a:active {
	color: #CECDCB;
}

/* This is used by JS on index to fix the nav positioned fix bug in IOS  */
.fixfixed div.contain-to-grid.fixed {
	position: absolute;
}